.home {
    height: auto;
    background: url("../../../../templates/assets/home/background-home-desktop - Copie.jpg");
    background-size: cover;
    padding-top: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.home-content {
    height: 74%;
}

.home-content h1 {
    font-size: clamp(24px, 1vw + 8.2rem, 160px);
    letter-spacing: 8px;
}

.home-1, .home-2 {
    flex: 1;
}

.p1 {
    font-size: 24px;
}

.para {
    width: 85%;
}

.explore {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore h2 {
    color: black;
    font-weight: 200;
}

@media (min-width: 768px) {
    .home {
        background: url("../../../../templates/assets/home/background-home-desktop - Copie.jpg");
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
}

@media (min-width: 1024px) {
    .home {
        background: url("../../../../templates/assets/home/background-home-desktop.jpg");
        background-size: cover;
        height: 100vh;
    }
    .home-content {
        height: 74%;
    }
}