.dest-1, .dest-2 {
    flex: 1;
}


.dest-2 a {
    text-decoration: none;
    color: white;
}

.active {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
}

.div-planets {
  letter-spacing: 3px;
  font-family: "Barlow Condensed";
}

.dest-1 img {
  width: 240px;
}

.dest-2 h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 80px;
}

.desc, .travel {
  width: 85%;
}

/* .desc {
  height: 100px;
} */

@media (min-width : 1024px) {
  .dest-1 img {
    width: 400px;
  }

  .dest-2 h2 {
    font-size: 120px;
  }
}
